<div
  role="checkbox"
  tabindex="0"
  :aria-checked="checked"
  :aria-labelledby="`id_participant_${friend.id}_label`"
  x-data="{ 
    get friendName() {
      const name = `${friend.first_name} ${friend.last_name}`.trim();
      if (!name) return 'Unknown';
      return name;
    },
    get initial() {
      if (!friend.first_name && !friend.last_name) return 'U';

      let text = '';
      if (friend.first_name) {
        text += friend.first_name[0];
      }
      if (friend.last_name) {
        text += friend.last_name[0];
      }
      return text;
    }
  }"
  @click="friendChecked(friend, !checked)"
  class="flex cursor-pointer flex-row items-center px-5 py-3 hover:bg-gray-100 hover:shadow-sm"
>
  <div class="mr-4">
    <span
      :class="friend.color"
      class="not-sr-only flex h-12 w-12 items-center justify-center rounded-full font-medium capitalize"
      x-text="initial"
    ></span>
  </div>
  <div class="flex-grow">
    <div class="mb-1 flex items-center">
      <h5
        :id="`id_participant_${friend.id}_label`"
        class="mb-0 mr-auto text-ellipsis font-medium capitalize"
        x-text="friendName"
      ></h5>
    </div>
    <div class="flex items-center">
      <div
        class="mr-auto text-xs text-stone-400 line-clamp-2"
        x-text="`@${friend.username}`"
      ></div>
    </div>
  </div>
  <template x-if="checked">
    <span class="ml-2 text-blue-600">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-5 w-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 12.75l6 6 9-13.5"
        />
      </svg>
    </span>
  </template>
</div>
